body{
  margin-top:20px;
  background:#f5f7fa;
}
.panel.panel-default {
  border-top-width: 3px;
}

.thumb96 {
  width: 96px!important;
  height: 96px!important;
}
.thumb48 {
  width: 48px!important;
  height: 48px!important;
}

.bodyContainer {
  padding: 60px;
}
