<ng-container *ngIf="isLoaded">

  <div class="container bootstrap snippet bodyContainer">
    <div class="row ng-scope">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <div class="pv-lg"><img class="imgStyle center-block img-responsive rounded-circle img-thumbnail thumb96" src={{contact.img}} alt="Contact"></div>
                    <h3 class="container h1ContactContainer">{{contact.firstName}} {{contact.surname}}</h3>
                    <div class="mv-lg">
                        <p>Description</p>
                    </div>
                    <div class="text-center"><a class="btn btn-outline-primary mb-1 btn-sm contactButton" href="">Send message</a></div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row pv-lg">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <form class="form-horizontal ng-pristine ng-valid">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="inputContact1">Name</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="inputContact1" type="text" placeholder="" value={{contact.firstName}}>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="inputContact2">Email</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="inputContact2" type="email" value={{contact.email}}>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="inputContact3">Phone</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="inputContact3" type="text" value={{contact.phoneNumber}}>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="inputContact4">Mobile</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="inputContact4" type="text" value={{contact.mobileNumber}}>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="inputContact5">Website</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="inputContact5" type="text" value={{contact.website}}>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="inputContact6">Address</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" id="inputContact6" row="4">{{contact.address.address1}} - {{contact.address.address2}}</textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="inputContact8">Label</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="inputContact8" type="text" value={{contact.recordLabel}}>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button class="btn btn-outline-primary mb-1 btn-sm contactButton" type="submit">Update</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


</ng-container>




