.contactButton {
margin-right: 10px;
}

.h1ContactContainer {
  padding: 30px;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

.imgStyle {
  display: block;
  max-width: 100%;
  height: auto;
}
