<h1 class="container h1ContactContainer">
  Contacts
</h1>

<table class="container table table table-hover table-responsive-md" *ngIf="isContactLoaded && isInfoLoaded">
  <tr>
    <td scope="row">#</td>
    <td scope="row">name</td>
    <td scope="row">email</td>
    <td scope="row">role</td>
  </tr>
  <tr *ngFor="let contact of contacts" [routerLink]="['/contact', contact.id]">
    <td scope="row">{{contact.id}}</td> 
    <td scope="row">{{contact.firstName}} {{contact.surname}}</td>
    <td scope="row">{{contact.email}}</td>
    <td scope="row">{{getRoleName(contact.role)}}</td>
    <td>

      <div class="float-right">

        <button (click)="showDetails(c)" class="btn btn-outline-primary mb-1 btn-sm contactButton">
          DETAILS
        </button>

        <button (click)="editContact(c)" class="btn btn-outline-primary mb-1 btn-sm contactButton">
          EDIT
        </button>

        <button (click)="deleteRow(contact)" class="btn btn-outline-danger mb-1 btn-sm contactButton">
          DELETE
        </button>

      </div>

    </td>
  </tr>
</table>

<br>
<br>
<div class="container">
  <form #form="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="firstName" ngModel required>
    </div>
    <div class="form-group">
      <label for="alterEgo">email</label>
      <input type="text" class="form-control" id="email" name="email" ngModel minlength="2">
    </div>
    <div class="form-group">
      <label for="alterEgo">role</label>
      <input type="number" class="form-control" id="role" name="role" ngModel>
    </div>
    <button type="submit" class="btn btn-outline-primary mb-1 btn-sm" (click)="onSubmit(form)"><i class="fa fa-plus-square" aria-hidden="true"></i> New </button>
  </form>
</div>